<div style="width: 400px", id="booking_form">
  <%= simple_form_for [@tuxedo, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.button :submit,class: "btn btn-primary" %>
  <% end %>
</div>


<div class="bottom_links">
<%= link_to "Back to home page", tuxedo_path(@tuxedo) %>
</div>
