

<div class="form", style= "padding-top: 30px">
  <%= simple_form_for [@tuxedo, @booking] do |f| %>
    <%= f.input :start_date, as: :string, required: true, input_html: {class: "datepicker"} %>
    <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker"} %>
    <%= f.button :submit,class: "btn btn-primary" %>
  <% end %>
</div>


<div class="bottom_links">
<%= link_to "Back to Tuxedo list", tuxedos_path %>
</div>
