  <body>
    <div id="landing" style="padding-bottom: 30px">
      <div class="container jumbotron" id="jumbo">
        <h2></h2>
        <h1>Rent-A-Tux</h1>
        <p>Rent a tuxedo anywhere in the world</p>
      </div>
<!-- TUXEDO CARD -->
      <div class="learn-more container">
        <div class=>
          <div class="row">
            <% @tuxedos.first(6).each do |tuxedo| %>
              <div class="col-md-4">
                <div class="thumbnail", id="thumb">
                  <%= link_to tuxedo_path(tuxedo) do %>
                    <div class="tuxedo-card" style="background-image: url('<%= cl_image_path tuxedo.picture %>')">
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="container jumbotron" id="jumbo-bottom">
          <div class="col-md-4">
            <h3>Find a Tuxedo</h3>
            <p>Need a great-looking tuxedo in a hurry? With Rent-A-Tux you can book a Tuxedo anywhere, anytime. Have a look at our large collection of available outfits. </p>
            <p><%=link_to "Find Tux", tuxedos_path %></p>
          </div>

          <div class="col-md-4">
            <h3><%= link_to "Rent Your Tuxedo", new_tuxedo_path %></h3>
            <p>Have a tuxedo you rarely wear? It'd be a shame to let it lay to waste in the back of your closet. Renting out your unused garment could pay your bills or fund your next vacation.</p>
            <p><%=link_to "Book Tux", tuxedos_path %></p>
          </div>

          <div class="col-md-4">
            <h3>Trust and Safety</h3>
            <p>
            From Verified ID to our worldwide customer support team, we've got your back.
            </p>
          </div>
    </div>
  </body>
</html>
