
<div style= "padding-bottom: 30px">
  <h1 style= "text-align: center">This tuxedo could be yours</h1>
</div>

<div class="flex-container", style= "display: flex", style="justify-content: space-around">

  <div style= "padding-left: 30px", style="background-position: right top">
  <%= cl_image_tag @tuxedo.picture, height: 300 %>
  </div>

  <div style= "padding-left: 30px">
    <h3>Style: <%= @tuxedo.style.capitalize %> </h3>
    <div>
    <h3>Condition: <%= @tuxedo.condition.capitalize %> </h3>
    </div>
    <div>
    <h3>Color: <%= @tuxedo.color.capitalize %> </h3>
    </div>
    <div>
    <h3>Size: <%= @tuxedo.size.capitalize %> </h3>
    </div>
    <div>
    <h3>Year: <%= @tuxedo.year %> </h3>
    </div>
    <% if @tuxedo.user == current_user %>
    <div>
        <p><%=link_to "Edit Tux", edit_tuxedo_path(@tuxedo) %></p>
    </div>
    <div>
        <p><%=link_to "Delete Tux", tuxedo_path(@tuxedo), method: :delete %></p>
    <% end %>
    </div>
  </div>
</div>

<div>
  <% if @tuxedo.user == current_user %>
    <div class="bottom_links" >
        <span>
          <%= link_to "Add another Tuxedo", new_tuxedo_path, class: "btn btn-primary" %>
        </span>
        <span>
          <%= link_to "Back to Tuxedo List", tuxedos_path, class: "btn btn-primary" %>
        </span>
    </div>
    <% else %>
     <div class="bottom_links" >
        <span>
          <%= link_to "Book this Tuxedo", new_tuxedo_booking_path(@tuxedo), class: "btn btn-primary" %>
        </span>
        <span>
          <%= link_to "Rent your Tuxedo", new_tuxedo_path, class: "btn btn-primary" %>
        </span>
        <span>
          <%= link_to "Back to Tuxedo List", tuxedos_path, class: "btn btn-primary" %>
        </span>
    </div>
  <% end %>
</div>


