
<div style= "padding-bottom: 30px">
  <h1 style= "text-align: center">This tuxedo could be yours</h1>
</div>

<div class="flex-container", style= "display: flex", style="justify-content: space-around">

  <div style= "padding-left: 30px">
  <%= cl_image_tag @tuxedo.picture, height: 300, width: 250, crop: :fill %>
  </div>

  <div style= "padding-left: 30px">
    <h3>Style: <%= @tuxedo.style.capitalize %> </h3>
    <div>
    <h3>Condition: <%= @tuxedo.condition.capitalize %> </h3>
    </div>
    <div>
    <h3>Color: <%= @tuxedo.color.capitalize %> </h3>
    </div>
    <div>
    <h3>Size: <%= @tuxedo.size.capitalize %> </h3>
    </div>
    <div>
    <h3>Year: <%= @tuxedo.year %> </h3>
    </div>
  </div>


</div>
<div class="bottom_links" >
  <h3><%= link_to "Book this Tuxedo", new_tuxedo_booking_path(@tuxedo) %></h3>
  <h4><%= link_to "Back to Tuxedo List", tuxedos_path %></h4>
</div>
<!--
<% @tuxedo.bookings.each do |booking| %>
  <%= cl_image_tag @tuxedo.picture, height: 300, width: 400, crop: :fill %>
  <%= booking.status %>
  <%= booking.start_date %>
  <%= booking.end_date %>
<% end %>



 -->
