<div style= "padding-bottom: 30px">
  <h2 style= "text-align: center">User Dashboard</h2>
</div>

  <div style= "padding-left: 30px">
    <strong>User: </strong><%= current_user.first_name %><%=" "%><%= current_user.last_name %> <%=" "%><strong><p style="margin-bottom: 0"> </strong><%= current_user.email %>
    <strong><p></strong><%= current_user.address %>
  </div>

<div>
  <h3 style= "text-align: center" >My Tuxedos</h3>
</div>

<div class="container">
  <div class="row">
    <% @my_tuxedos.each do |tuxedo| %>
        <div class="col-xs-12 col-sm-4">
          <%= render "tuxedos/card", tuxedo: tuxedo %>
        </div>
    <% end %>

  </div>
</div>

<div style= "padding-left: 30px", style="display: inline; width: 300px;">
  <div>
  </div>
</div>

<div style= "padding-left: 30px">
  <h3 style= "text-align: center" >My Bookings</h3>

  <% counter = 0 %>
  <% @my_bookings.each do |booking| %>
    <% counter += 1 %>
    <p><%= counter %><%=" "%> - <strong>Status:</strong><%=" "%><%= link_to booking.status, tuxedo_booking_path(booking.tuxedo, booking) %>,
    <strong>Start date:</strong><%=" "%><%= booking.start_date.strftime("%b %d, %Y") %>,
    <strong>End date:</strong><%=" "%><%= booking.end_date.strftime("%b %d, %Y") %></p>
  <% end %>

  <h3 style= "text-align: center" >My Tuxedos</h3>
  <% counter1 = 0 %>

  <% @bookings_on_my_tuxedos.each do |booking| %>
    <% counter1 += 1 %>
    <p><%= counter1 %><%=" "%> - <strong>Status:<%=" "%></strong><%= link_to booking.status, tuxedo_booking_path(booking.tuxedo, booking) %>,
    <strong>Start date:</strong><%=" "%><%= booking.start_date.strftime("%b %d, %Y") %>,
    <strong>End date:</strong><%=" "%><%= booking.end_date.strftime("%b %d, %Y") %>,
    <strong>Booking by:</strong><%=" "%><%= booking.user.first_name %><%=" "%><%= booking.user.last_name %>,
    <strong>Email:</strong><%=" "%><%= booking.user.email %>

    <%= simple_form_for booking do |f| %>
      <%= f.input :status, input_html: { value: 'Approved' }, as: :hidden %>
      <%= f.submit 'Accept' %>
    <% end %>

    <%= simple_form_for booking do |f| %>
      <%= f.input :status, input_html: { value: 'Denied' }, as: :hidden %>
      <%= f.submit 'Reject' %>
    <% end %></p>

  <% end %>

</div>
