<% @my_tuxedos.each do |tuxedo| %>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= link_to tuxedo_path(tuxedo) do %>
        <div class="tuxedo-card" style="background-image: url('<%= cl_image_path tuxedo.picture %>')">
        </div>
      <% end %>
          <h3>Style: <%= tuxedo.style.capitalize %> </h3>
    <div>
    <h3>Condition: <%= tuxedo.condition.capitalize %> </h3>
    </div>
    <div>
    <h3>Color: <%= tuxedo.color.capitalize %> </h3>
    </div>
    <div>
    <h3>Size: <%= tuxedo.size.capitalize %> </h3>
    </div>
    <div>
    <h3>Year: <%= tuxedo.year %> </h3>
    </div>
    </div>
  </div>
<% end %>

<% @my_bookings.each do |booking| %>
  <p><%= link_to booking.status, booking_path(booking) %></p>
<% end %>
